<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>Sign In</h1>
  {{#each errors}}
    <p>{{this}}</p>
  {{/each}}
  <form action="/signin" method="post">

    <div>
      <label>Email: </label>
      <input type="text" name="email"/>
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="password" autocomplete="none"/>
    </div>
    <div>
      <input type="submit" name="Sign In"/>
    </div>
  </form>
  
</body>
</html>